.custom_video_help_container ul li.page_item_has_children > a {
	margin-bottom:5px;
	display:inline-block;
}

.custom_video_help_container ul.children{
	padding-left:20px;
}

.custom_post_content {
	margin-top:20px;

}

.custom_post_video_title_and_content .custom_post_title{
	font-weight:bold;
	margin-bottom: 20px;
}

.custom_toc_and_video_container{
	max-width:95%;
	margin:0 auto;
}

.custom_toc_and_video_container .custom_half {
	float: left;
	width: 50%;
	padding: 30px;
	padding-left: 0;
	box-sizing: border-box;
	/*border:1px solid red;*/
}

.custom_post_video_title_and_content{
	position: fixed;
	left: 55%;	
	width: 45% !important;
}

.custom_post_loader{
	margin:0 auto;
}

.customvideoloader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: customspin 2s linear infinite;
}

@keyframes customspin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* just a spinner */
.lds-dual-ring {
  display: none;
  width: 64px;
  height: 64px;
  margin: 0 auto;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #336699;
  border-color: #336699 transparent #336699 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
